[%
# footer_wtsi.tt
# jt6 20080220 WTSI
#
# $Id: footer_wtsi.tt,v 1.3 2009-06-09 12:15:09 jt6 Exp $
%]
<!-- footer start -->
<footer>
<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
<!--
<div id="local-footer" class="grid_24 clearfix">
</div>
-->
<!-- End optional local footer -->

<div class="footerdiv" id="footerdiv">
  <div class="footer">
    <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
    <!--
    <div id="local-footer" class="grid_24 clearfix">
    </div>
    -->
    <!-- End optional local footer -->

    <div id="global-footer" class="grid_24 clearfix">
      <div class="nav" id="global-nav-expanded">
        <div class="grid_4 alpha">
          <h3 class="embl-ebi"><a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage">EMBL-EBI</a></h3>
        </div>

        <div class="grid_4">
        <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
        </div>
        
        <div class="grid_4">
          <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
        </div>
        
        <div class="grid_4">
          <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
        </div>
        
        <div class="grid_4">
          <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
        </div>
        
        <div class="grid_4 omega">
          <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
        </div>
      </div>

      <div class="section" id="ebi-footer-meta">
        <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton, Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
        <p>Copyright &copy; EMBL-EBI 2013 | EBI is an outstation of the <a href="http://www.embl.org">European Molecular Biology Laboratory</a> | <a href="/about/privacy">Privacy</a> | <a href="/about/cookies">Cookies</a> | <a href="/about/terms-of-use">Terms of use</a></p>  
      </div>
    </div>
  </div>
</div>

<script>
console.log("loading the tab stuff")
jQuery('#grid-24 ul li a').click(function(){
    $('#local-nav ul li').removeClass('active');
    var currentli = $(this).attr('href');
    console.log("well, current li is "+currentli);
	$('#local-nav ul li a[href="'+currentli +'"]').parent().addClass('active');
    $(currentTab).show();
    return false;
});

/*	var div = jQuery('#sidebar');
    	var start = jQuery(div).offset().top;
 
    jQuery.event.add(window, "scroll", function() {
        var p = jQuery(window).scrollTop();
        jQuery(div).css('position',((p)>start) ? 'fixed' : 'static');
        jQuery(div).css('top',((p)>start) ? '0px' : '');
    }); */
</script>

<!-- JavaScript at the bottom for fast page loading -->
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../js/libs/jquery-1.6.2.min.js"><\/script>')</script>

-->





<!-- scripts concatenated and minified via ant build script-->

<!--
<script defer src="../js/plugins.js"></script>
<script defer src="../js/script.js"></script>
-->

<!-- <script defer src="//www.ebi.ac.uk/web_guidelines/js/cookiebanner.js"></script> -->
<script defer src="//www.ebi.ac.uk/web_guidelines/js/foot.js"></script>

<!-- end scripts-->





<!-- Change UA-XXXXX-X to be your site's ID -->

<!--

<script>
window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
Modernizr.load({
load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
});
</script>

-->





<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.

chromium.org/developers/how-tos/chrome-frame-getting-started -->

<!--[if lt IE 7 ]>

<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>

<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>

<![endif]-->


<!-- footer end -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
