[%
# index.tt
# jt6 20060717 WTSI
# 
# build the main Treefam home page.
#
# $Id: index.tt,v 1.10 2009-06-09 12:13:25 jt6 Exp $

META title = "Home page";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

requirements.css.push( "index.css" );
requirements.css.push( "treefam.css" );
#requirements.css.push( "TreeFamily.css" );
requirements.css.push( "buttons.css" );
#requirements.css.push( "slider/style.css" );
requirements.js.push( "jquery/jquery-1.8.2.min.js" );
requirements.js.push( "jquery/jquery-ui-1.8.2.custom.min.js" );
# This will be our own implementation of autocomplete
#requirements.js.push( "treefam_autocomplete.js" );
requirements.js.push( "prototype.js" );
requirements.js.push( "sharedFunctions.js" );
#
#requirements.css.push( "jcobb-basic-jquery-slider-e15b5ee/bjqs.css" );
#requirements.js.push( "jcobb-basic-jquery-slider-e15b5ee/js/bjqs-1.3.js" );

# slider: http://css-tricks.com/examples/AnythingSlider/demos.html#&panel1-4&panel2-1&panel3-3
#requirements.js.push( "anythingslider/jquery.easing.1.2.js" );
#requirements.js.push( "anythingslider/jquery.anythingslider.min.js" );
#requirements.js.push( "anythingslider/jquery.colorbox-min.js" );
#requirements.css.push( "anythingslider/anythingslider.css" );
#requirements.css.push( "anythingslider/colorbox.css" );


# slider   http://tympanus.net/codrops/2010/04/28/pretty-simple-content-slider-with-jquery-and-css3/
#requirements.js.push( "PrettySimpleContentSlider/jquery-package-min.js" );
#requirements.css.push( "PrettySimpleContentSlider/style.css" );

# slider: http://www.gayadesign.com/scripts/presentationCycle/
#requirements.js.push( "presentationCycle/presentationCycle.js" );
#requirements.js.push( "presentationCycle/jquery.cycle.all.min.js" );
#requirements.css.push( "presentationCycle/presentationCycle.css" );
#requirements.css.push( "presentationCycle/style.css" );

# accordion
requirements.css.push( "accordion/liteaccordion.css" );
requirements.js.push( "accordion/liteaccordion.jquery.js" );


# News ticker
requirements.css.push( "jquerynewsticker/ticker-style.css" );
requirements.js.push( "jquerynewsticker/jquery.ticker.js" );

#requirements.cssIeAll.push( "index_all_ie.css" );

#-------------------------------------------------------------------------------

# a warning message for users who dont have javascript turned on. The 
# message should be hidden immediately after its displayed, but if 
# javascript is not working, the prototype call will fail and the message
# will stay visible
%]
<div id="jsWarning">
  <strong>Please note:</strong> this site relies heavily on the use of javascript. 
  Without a javascript-enabled browser, this site will not function correctly. 
  Please enable javascript and reload the page, or switch to a different browser.
</div>
<script type="text/javascript">
  // <![CDATA[
  $("jsWarning").hide();
  // ]]>
</script>

<div id="index" >
<div>
	<h1 style="border-bottom: 1px solid #D7EADA;margin-bottom: 1px;">Welcome to TreeFam</h1>
<div style="height:70px;overflow:auto;">
	<p>TreeFam (Tree families database) is a database of phylogenetic trees of animal genes. It aims at developing a curated resource that gives reliable information about ortholog and paralog assignments, and evolutionary history of various gene families.</p>
 <p>TreeFam defines a gene family as a group of genes that evolved after the speciation of single-metazoan animals. It also tries to include outgroup genes like yeast (S. cerevisiae and S. pombe) and plant (A. thaliana) to reveal these distant members.</p>

<p>TreeFam is also an ortholog database. Unlike other pairwise alignment based ones, TreeFam infers orthologs by means of gene trees. It fits a gene tree into the universal species tree and finds historical duplications, speciations and losses events. TreeFam uses this information to evaluate tree building, guide manual curation, and infer complex ortholog and paralog relations. </p>

<p>The basic elements of TreeFam are gene families that can be divided into two parts: TreeFam-A and TreeFam-B families. TreeFam-B families are automatically created. They might contain errors given complex phylogenies. TreeFam-A families are manually curated from TreeFam-B ones. Family names and node names are assigned at the same time. The ultimate goal of TreeFam is to present a curated resource for all the families.</p> 
</div>
<!-- start of index page -->
</div> 
<br>
<div id="accordion" style="margin-left:auto; margin-right:auto">
		    <ol>
				<li data-slide-name="one">
				    <h2><span>TreeFam</span></h2>
				    <div>
					<h2 style="border-bottom: 2px solid #D7EADA;" >&nbsp; Gene trees and orthologs/paralogs</h2>
					&nbsp; 	Trace the evolution of a gene family and find orthologs/paralogs. 
						<figure>
							<img src="/static/images/slider/treefam_chain_of_genes.png" style="width=500px;height=250px" alt="image" />
						</figure> 
					</div>
				</li>
				<li data-slide-name="two">
				    <h2><span>Release 9</span></h2>
				    <div>
					<h2 style="border-bottom: 2px solid #D7EADA;">&nbsp; TreeFam release 9</h2>
					&nbsp; The latest database release covers <a href="/browse#tabview=tab2">109 species</a> in <a href="/browse">16,064 families</a>
						<figure>
							<img src="/static/images/slider/Welcome_treefam_slider.png" alt="image" />
						</figure> 
					</div>
				</li>
				<li data-slide-name="three">
				    <h2><span>Gene families</span></h2>
				    <div>
					<h2 style="border-bottom: 2px solid #D7EADA;">&nbsp; TreeFam families</h2>
					&nbsp; Each TreeFam family page gives you a summary, trees, alignments, orthologs/paralogs, and more.<br>
					&nbsp; Check out, e.g. <a href="/family/BRCA2">BRCA2</a>
						<figure>
							<a href="/family/BRCA2" ><img src="static/images/slider/BRCA2_study.png" alt="image" /></a>
						</figure>
					</div>
				</li>
				<li data-slide-name="four">
				    <h2><span>Beautiful trees</span></h2>
				    <div>
					<h3 style="border-bottom: 2px solid #D7EADA;">&nbsp; Check out our improved tree visualization</h3>
					&nbsp; Check out our new gene tree images drawn with <a href="http://ete.cgenomics.org/">ETE</a>. Our trees now have: 
					<ul>
					<li>species pictures</li>
					<li>sequence with Pfam domains</li>
					</ul>
						<figure>
							<img src="static/images/slider/treefam_treevisualization.png" alt="image" />
						</figure>
					</div>
				</li>
				<li data-slide-name="five">
				    <h2><span>Wikipedia</span></h2>
				    <div>
					<h3>&nbsp; Links to Wikipedia</h3>
					&nbsp; For each TreeFam family you can now find annotation retrieved from Wikipedia. 
						<figure>
							<img src="/static/images/slider/Wikipedia_integration.png" alt="image" />
						</figure>
					</div>
				</li>
		    </ol>
			<noscript>
				<p>Please enable JavaScript to get the full experience.</p>
			</noscript>
		</div>

<!-- <div class="social-buttons">
            <ul>
              <li>
                <fb:like href="http://nicolahibbert.com/demo/liteAccordion/" send="true" showfaces="false" width="120" layout="button_count" action="like"/></fb:like></li>
              <li>
                <a href="http://twitter.com/share" data-url="http://nicolahibbert.com/demo/liteAccordion/" data-text="liteAccordion - a horizontal accordion plugin for jQuery, by @nicolahibbert" class="twitter-share-button">Tweet</a>
              </li>
              <li>
                <g:plusone size="medium" callback="plusone_vote"></g:plusone>
              </li>
              <li>
                <script type="in/share" data-url="http://nicolahibbert.com/demo/liteAccordion/" data-counter="right"></script>
              </li>
            </ul>
        </div>

	<div id="index"> -->
<!--<div id="index"> -->
   [% # URI shortcuts
   helpBase   = c.uri_for( "/help" );
   searchBase = c.uri_for( "/search" );
   jumpUri    = c.uri_for( "/family" );
   #jumpUri    = "${searchBase}/jump";
   %]
      <!-- <form action="[% searchBase %]/" id="jumpForm" onsubmit="return jump(this);"> -->
       <!-- <form action="[% searchBase %]/" method="post" id="jumpForm" >
		<div style="vertical-align: middle;   text-align: center;">
		<select name="mydropdown" id="search_dropdown">
		    <option value="gene">Gene (Autocomplete)</option>
		    <option value="keyword">Keyword/ID</option>
	 	</select>
    	
        <input style="width:250px" class="mygene_query_target" name="query" id="query">
    	<a class="btn go" onclick="jQuery('#spinner').show();
                                   jQuery('#jumpForm').attr('action','search/'+jQuery('#search_dropdown').val());
                                   jQuery('#jumpForm').submit();"> <span id="jumpgoButton" class="btn-inner">Search</span></a>
	    <div style="display: none" class="jumpSpinner">Searching...</div>
        <div style="display: none" class="jumpError"></div>
        <p class="small nlh">
        <div id="spinner" style="display:none;">
		    <img id="img-spinner" src="[% c.uri_for( "/static/images/ajax-loader.gif") %]" alt="Loading"/> Loading...
	    </div>
	    Search for e.g. a <a href="#" onclick="jQuery('#query').val('');
                                               jQuery('#search_dropdown').val('gene');
                                               jQuery('#query').css({'height':'10px'});">gene</a> name (BRCA2), an 
	    <a href="#" onclick="jQuery('#query').val('BRCA2');jQuery('#search_dropdown').val('keyword');
                             jQuery('#query').css({'height':'10px'});">ID</a> 
	    	     or a 
        <a href="#" onclick="jQuery('#query').val('MPIGSKERPTFFEIFKTRCNKADLGPISLNW\n\FEELSSEAPPYNSEPAEESEHKNNNYEP');
                             jQuery('#search_dropdown').val('sequence');
                             jQuery('#query').css({'height':'75px'}); 
			     jQuery('#query').removeClass('ui-autocomplete-input');">protein sequence</a> 
		.
      </div>
      --> 
    
  <div class="cleaner"><!-- empty --></div>

  [%# uncomment to add an advance warning of maintenance downtime
  <hr />

  <div id="maintenanceMsg" style="width:80%;margin:0 auto;background:#F0E8E6;border:1px solid #621700;padding:1em">
    <h2>Sanger Institute IT Shutdown</h2>
    <p> 
      Between 12.30pm Friday 21 October and 10.00am Monday 24 October (BST) the 
      Sanger Institute data-centre will be offline, during the first stage of  
      the installation of a new combined heat and power system. During this
      shutdown, the TreeFam website at WTSI will be unavailable.
    </p>
    <p> 
      You can read more about the planned work on the main 
      <a class="ext" href="http://www.sanger.ac.uk/about/press/2011/111012-datacentre.html">
        Sanger website</a>.
    </p>
    <p> 
      While this TreeFam site is offline, you may want to use the TreeFam site at
      <a class="ext" href="http://rfam.janelia.org/">Janelia Farm, USA</a>. 
      Please bear in mind, however, that this site has not been updated to
      the most recent TreeFam release, 10.1, and is still serving release 10.0.
    </ul>
    <p> 
      We apologise for any inconvenience.
    </p>
  </div>
  # end of maintenance message %]
<!-- <iframe id="widgetFrame" src="http://widgplus.com/templates/new/activity.php?plusid=115739728227274298589&textcolor=FFFFFF&bg=333&contentbg=555&linkcolor4D90FE" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:282px; height:362px;"></iframe> 
-->
  <div id="posts" class="announcements" style="display: none">
    <hr />
    <span onclick="hideThis('posts');" class="closer" style="float: right; cursor: pointer">Hide this</span>
    <h2>Recent TreeFam <a class="ext" href="http://xfam.wordpress.com/"> blog</a> posts</h2>
  </div>
  
  <ul id="js-news" class="js-hidden">
	      <li class="news-item"></li>
	      <li class="news-item"><a href="http://xfam.wordpress.com/2012/11/13/whats-new-in-antifam/">TreeFam 9 is out!</a></li>
	      <li class="news-item"><a href="http://xfam.wordpress.com/2012/11/01/were-on-the-move/">We&#39;re on the move</a></li>
	      <li class="news-item"><a href="http://xfam.wordpress.com/2012/03/27/treefam-is-back-with-a-new-release/">TreeFam is back with a new release</a></li>
  </ul>
  <div id="newFeatures" style="display:none">
  Some great news here!
	</div>
  
  <div id="citation">
    <h2>Citing TreeFam</h2>
    <p>
      If you find TreeFam useful, please consider 
      <a href="[% helpBase %]?tab=helpReferencesBlock">citing</a> the references 
      that describe this work:
    </p>
    <div class="citation">
      <span class="title">
        <a class="ext" 
           href="http://nar.oxfordjournals.org/content/36/suppl_1/D735.full">
          TreeFam: 2008 Update</a>
      </span>
      <span class="authors">
        <!-- Jue Ruan, Heng Li, Zhongzhong Chen, Avril Coghlan, Lachlan James M. Coin, Yiran Guo, Jean-Karim H&eacute;rich&eacute;, Yafeng Hu, 
        Karsten Kristiansen, Ruiqiang Li, Tao Liu, Alan Moses, Junjie Qin, S&oslash;ren Vang, Albert J. Vilella, 
        Abel Ureta-Vidal, Lars Bolund, Jun Wang and Richard Durbin. -->
        Jue Ruan, Heng Li, et al.
      </span>
      <span class="ref">
        <span class="jrnl">Nucleic Acids Research</span>&nbsp;(2008) 
        <br>doi: 10.1093/nar/gkm1005
       </span>
    </div>
    
  </div>

  <div id="mirrors">
    <h2>Mirrors</h2>
    <p>The following are official TreeFam 
      <a href="[% helpBase %]?tab=helpTheTeamBlock">mirror</a> sites:
    </p>
    [% PROCESS "components/mirrors.tt" %]

  </div>

  <div class="cleaner"><!-- empty --></div>

  <!-- <div id="restore" class="announcements" style="display: none">
    <hr />
    <p>
      You have hidden the blog posts section. You can restore it  
      <span class="link" id="restoreLink">here</span>. 
    </p>
  </div>
-->
  
   </div> 

<script type="text/javascript">
 jQuery(document).ready(function(){
	console.log("initialising my-slideshow");
   
	jQuery('#accordion').liteAccordion({ 
                        "responsive" : true ,
                        "theme":"stitch", 
                        "rounded" : "true",
                        //"maxContainerWidth" : "760",
                        //"enumerateSlides" : "true", 
                        });
//jQuery('#accordion').liteAccordion({"theme":"stitch"});
console.log("accordion loaded")
	/* jQuery('#my-slideshow').bjqs({
        'height' : 300,
        'width' : 600,
        'responsive' : true,
	'showcontrols' : false,
	'centercontrols' : true,
	'automatic'       : false,
    }); 
      */
	/*console.log("banner-fade initialised");
	jQuery("featured").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);

	jQuery(".slidingDiv").hide();
        jQuery(".show_hide").show();
        jQuery('.show_hide').click(function(){
            jQuery(".slidingDiv").slideToggle();
            jQuery(this).text(jQuery(this).text() == 'More ...' ? 'Less ...' : 'More ...');
        });

	*/
	jQuery(function () {
		        jQuery('#js-news').ticker(
				{
				controls: false,
				titleText: 'TreeFam News',
				//		htmlFeed: false,
            	//		ajaxFeed: true,
            	//		feedUrl: 'http://xfam.wordpress.com/feed/',
            	//		feedType: 'xml'		
			}
			);
		});
	}); 

// <![CDATA[
  
  // set up the "jump to" field
  // first, make it behave nicely
  //$("jumpField").value = "enter any accession or ID";
  //$("jumpField").selectionStart = 0;
  //$("jumpField").selectionEnd   = 0;
  //$("jumpField").focus();

  // add observers to clear out the field when the user first enters something
  // in it. We need several to catch all eventualities...

  var jumpCleared = false;
  //$("jumpField").observe( "keypress", function() {
  //  var start = $("jumpField").selectionStart;
  //  $("jumpField").value = $F("jumpField").substr( 0, start );;
  //  jumpCleared = true;
  //  $("jumpField").stopObserving();
  //} );

 // $("jumpField").observe( "click", function() {
  //  $("jumpField").value = '';
  //  jumpCleared = true;
  //  $("jumpField").stopObserving();
 // } );

  //$("jumpField").observe( "focus", function() {
  //  $("jumpField").selectionStart = 0;
  //  $("jumpField").selectionEnd   = 0;
  //} );

  // rotate through example IDs
  //var jumpExamples = $w("TF101003");  
  //var lastJumpExample = 0;
  //var fillJumpField = function() {
  //  $("jumpField").value = jumpExamples[lastJumpExample++];
  //  jumpCleared = true;
  //  if ( lastJumpExample >= jumpExamples.size() ) {
  //    lastJumpExample = 0;
  //  }
  //}

  // add an observer to submit the form when the user hits "go"
 // $("jumpButton").observe( "click", function() {
 //   if ( $("jumpField").present() && jumpCleared ) {
 //      jump('jumpForm');
 //   }
 // } );
  // example values for the various forms

  var exTreeFamId = "TF101001";
  var exClanId = "telomerase";
  var exKw     = "spliceosomal";
  var exTx     = "plasmodium";
  var exSeq    = "MPIGSKERPTFFEIFKTRCNKADLGPISLNWFEELSSEAPPYNSEPAEESEHKNNNYEPN";

  // hide the announcements or new features list when the user clicks the 
  // "hide this" button
  var hideThis = function( id ) {
    $(id).hide();

    // tell urchin that we've hidden the blog
    try {
      urchinTracker( "/index/hidBlog" );
    } catch( e ) {}

    var d = new Date();
    var t = Math.round( d.getTime() / 1000 );
    createCookie( 'hide_' + id, t, '365' ); 
    $("restore").show();
  };
  
  /*jQuery("restoreLink").observe( "click", function() {
    console.log("in restore link");
	['announcements','website_changes','posts'].each( function( type ) {
      var cookieValue = readCookie( "hide_" + type );
      if ( cookieValue != null ) {

        // tell urchin that we've shown the blog
        try {
          urchinTracker( "/index/shownBlog" );
        } catch( e ) {}


        eraseCookie( "hide_" + type );
        window.location = "[% c.uri_for('/') %]";
      }
    } );
  } );
   */
  
  // load the latest blog posts
  document.observe( "dom:loaded", function() {
    var r = new Ajax.Request( "[% c.uri_for( '/announcements' ) %]",
      { 
        method:     'get',
        parameters: { type: "posts" },
        on204:      function( oResponse ) {
          $("restore").show();
        },
        // for the benefit of IE, we need to check for an out-and-out
        // failure, as well 204 status
        onFailure:  function( oResponse ) {
          $("restore").show();
        },
        onSuccess:  function( oResponse ) {
          $("posts").insert( oResponse.responseText );
          $("posts").show();
        }
      }
    );
  } );

  // ]]>
</script>

<!-- end of index page -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
