[%
# index.tt
# jt6 20060717 WTSI
# 
# build the main Treefam home page.
#
# $Id: index.tt,v 1.10 2009-06-09 12:13:25 jt6 Exp $

META title = "Home page";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

#requirements.css.push( "index.css" );
#requirements.css.push( "treefam.css" );
#requirements.css.push( "TreeFamily.css" );
requirements.css.push( "buttons.css" );
requirements.css.push( "landing_page.css" );
#requirements.css.push( "slider/style.css" );
requirements.js.push( "jquery/jquery-1.8.2.min.js" );
requirements.js.push( "jquery/jquery-ui-1.8.2.custom.min.js" );
#requirements.js.push( "jquery/jquery.fancybox-1.3.4.pack.js" );
#requirements.css.push( "jquery/jquery.fancybox-1.3.4.css" );
#requirements.js.push( "jquery/jquery.fancybox.pack.js" );
#requirements.css.push( "jquery/jquery.fancybox.css" );
# This will be our own implementation of autocomplete
requirements.js.push( "prototype.js" );
requirements.js.push( "sharedFunctions.js" );


requirements.js.push( "d3/d3.v3.min.js" );
requirements.js.push( "jquery/jquery.tipsy.js" );
requirements.css.push( "jquery/tipsy.css" );
requirements.js.push( "phylowidget/minimal_species_tree.js" );

#requirements.js.push( "treefam_autocomplete.js" );

# css fonts

#-------------------------------------------------------------------------------

# a warning message for users who dont have javascript turned on. The 
# message should be hidden immediately after its displayed, but if 
# javascript is not working, the prototype call will fail and the message
# will stay visible
%]
<div id="jsWarning">
  <strong>Please note:</strong> this site relies heavily on the use of javascript. 
  Without a javascript-enabled browser, this site will not function correctly. 
  Please enable javascript and reload the page, or switch to a different browser.
</div>
<script type="text/javascript">
  // <![CDATA[
  $("jsWarning").hide();
  // ]]>
</script>

<div id="index" class="whitebg">
	<div id="pancy"  >
	    <div class="wrap">
	    	<div class="intro">
		    <br>	
		    	<b><font size="5">TreeFam 9</font></b><br><font size ="2"> (March 2013, 109 species, 15,736 families)</font>
	    	        <br>
	    	        <br>
			TreeFam is a database composed of phylogenetic trees inferred from animal genomes. It provides orthology/parology predictions as well the evolutionary history of genes.<br>
			<font size="1">(see the <a href="/family/TF105041">BRCA2</a> gene family page as an example)</font>.
	    	        <br>
	    	        <br>



	  <!-- <h3><i class="icon-download icon-large"></i> Get TreeFam data</h3>
		You can download <a href="/download">all pairwise homologs</a> (orthologs/paralogs) or use our <a href="/help#tabview=tab3">scripts</a> to get customized data, e.g. get homologs for your species of interest.
	    	        <br>
	    	        <br>
	  <h3><i class="icon-wrench icon-large"></i> Analyse your own data</h3>
		Use our tool <a href="https://github.com/treefam/treefam_tools/tree/master/treefam_scan">TreeFamscan</a> to check your data for matches to TreeFam families. This is useful, if you e.g. want to check if your gene predictions are correct.
	    	        <br>
	    	        <br> -->
	  

	<h3><i class="icon-search icon-large"></i> Search TreeFam</h3>
		<form method="post" 
            id="proteinSeqSearchForm"
            action="[% c.uri_for( "/search/sequence" ) %]"
            enctype="multipart/form-data">

        <div class="row">
          <textarea cols="50" 
                    rows="10"
                    name="seq"
                    id="seq">Enter Sequence here</textarea>
        </div>
     <input type="checkbox" id="tree_insertion" name="tree_insertion" value="tree_insertion" checked>Insert into tree<br> 
	<div id="show_tree_options"  style="display: inline;">
		<h3>Tree insertion algorithm</h3>
     			<input type="radio" id="tree_insertion_parsimony" name="tree_insertion_algorithm" value="tree_insertion_parsimony">using Parsimony (super-fast, but might insert into several branches)<br> 
     			<input type="radio" id="tree_insertion_likelihood" name="tree_insertion_algorithm" value="tree_insertion_likelihood">using ML (fast - might take a bit longer than Parsimony, more accurate)<br> 

		</div>
        <div class="row">
          <label class="blankLabel"></label>
           <input class="submit" 
                 type="submit" 
                 name="submit" 
                 value="Submit"
                 onclick="if(!$('seq').present()){return false};"/> 
          <input class="reset"
                 type="reset"
                 name="reset"
                 value="Reset" />
          <input class="example" 
                 type="button"
                 value="Example" 
                 onclick="$('seq').value=exSeq;" />
        </div>

      </form>
		</p>
		<!--<img src="https://si0.twimg.com/profile_images/2843133017/5490329bafb10688b3f6146a52484b15.png" width="30" height="30" alt="citing_treefam">Curious what TreeFam is?
		Click <a class="various" data-fancybox-type="iframe" href="http://slid.es/fabianschreiber/treefam/embed">here</a>. -->
		<!-- You can find our previous website under <a href="http://legacy.treefam.org">legacy.treefam.org</a>.-->
		    <p id="randomtreetext"></p>
	
	    	</div><!-- intro close -->
		<div class="logo">	<p id="randomtreetext"></p>
	    	</div>	
	    	<div class="preview">
	    		<!--<img src="img/preview.png" alt="preview">-->
			<div  style="font-size='1'" id="minimal_species_tree"></div>
	    		<font size="2">Species Tree used in TreeFam 9. See full tree <a href="/browse#tabview=tab2">here</a>.</font>
		</div><!-- preview close -->

	    	<div class="titleSeparator">
	    		<h2>The TreeFam project</h2>
	    	</div>

	    	<!-- <span class="subtitle">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet.</span> -->
<div class="whitebg">
<div id="contentwrapper">
    <div id="contentcolumn">
		<div id="posts" class="announcements" >
				       <h3 ><img src="/static/images/landing_page/announcement.png" width="20" height="20" alt="citing_treefam"> TreeFam <a  href="http://xfam.wordpress.com/category/treefam/">news</a></h3>  
			<div id="container" style="margin-left: 10px;margin-right: 20px; text-align: justify; overflow:auto; max-height:200px;">  
            		<p style="color:grey">
				<ul>
				<li>
					<img src="/static/images/landing_page/documentation.png" width="15" height="15" alt="citing_treefam"><b>TreeFam 9 is now available: </b>  
					<a href="http://xfam.wordpress.com/2013/05/03/treefam-9-is-now-available/">[...]</a><br><font size="1">(posted 3 May 2013)</font>
				 </li>
				<br>
				<li>
					<img src="/static/images/landing_page/documentation.png" width="15" height="15" alt="citing_treefam"><b> TreeFam: What is in the next release: </b><a href="http://xfam.wordpress.com/2012/12/10/treefam-whats-in-the-next-release/">[...]</a>
					<br><font size="1">(posted 10 December 2012)</font>
				</li>
				<br>
				<li>
					<img src="/static/images/landing_page/documentation.png" width="15" height="15" alt="citing_treefam"><b> We are on the move: </b><a href="http://xfam.wordpress.com/2012/11/01/were-on-the-move/">[...]</a>
					<br><font size="1">(posted 1 November 2012)</font>
				</li>
				<br>
				<li>
					<img src="/static/images/landing_page/documentation.png" width="15" height="15" alt="citing_treefam"><b> TreeFam is back with a new release: </b><a href="http://xfam.wordpress.com/2012/03/27/treefam-is-back-with-a-new-release/">[...]</a> 
					<br><font size="1">(posted 27 March 2012)</font>
</li>
	</ul>
	</p>
            </div>
	</div>
    </div>
</div>

<div id="leftcolumn">
	<div id="container" style="margin-right:9%; ">  
			<h3><img src="/static/images/landing_page/industry.png" width="20" height="20" alt="citing_treefam"> Use cases</h3>  
            <p style="color:#888">
            	<ul>
            	<li>Protein domains: <a href="http://pfam.sanger.ac.uk/"><img src="/static/images/Pfam_logo.gif" height="10"/></a></li>   
            	<li>RNA families:  <a href="http://rfam.sanger.ac.uk/"><img src="/static/images/rfam_logo.png" height="10"/></a></li>
				<li>Repetitive DNA: <a href="http://dfam.janelia.org/"><img src="/static/images/dfam_logo.png" height="10"/></a>	 </li>
				<li>Peptidases: <a href="http://merops.sanger.ac.uk/"><img src="/static/images/meropslogo.png" height="10"/></a>  </li>
				<li>Spurious ORFs: <a href="ftp://ftp.sanger.ac.uk/pub/databases/Pfam/AntiFam/"><img src="/static/images/antifam_logo.png" height="10"/></a> </li>
			</ul>
		</p>
	</div><div id="container" style="margin-right:9%; ">  
			<h3><img src="/static/images/landing_page/industry.png" width="20" height="20" alt="citing_treefam"> Xfam databases</h3>  
            <p style="color:#888">
            	<ul>
            	<li>Protein domains: <a href="http://pfam.sanger.ac.uk/"><img src="/static/images/Pfam_logo.gif" height="10"/></a></li>   
            	<li>RNA families:  <a href="http://rfam.sanger.ac.uk/"><img src="/static/images/rfam_logo.png" height="10"/></a></li>
				<li>Repetitive DNA: <a href="http://dfam.janelia.org/"><img src="/static/images/dfam_logo.png" height="10"/></a>	 </li>
				<li>Peptidases: <a href="http://merops.sanger.ac.uk/"><img src="/static/images/meropslogo.png" height="10"/></a>  </li>
				<li>Spurious ORFs: <a href="ftp://ftp.sanger.ac.uk/pub/databases/Pfam/AntiFam/"><img src="/static/images/antifam_logo.png" height="10"/></a> </li>
			</ul>
		</p>
	</div>
</div>

<div id="rightcolumn">
	<div id="container" style="margin-left:5%; text-align: justify;">  
		        <h3><img src="/static/images/landing_page/publication.png" width="20" height="20" alt="citing_treefam"> Using TreeFam</h3>  
    	<p>
      		If you find TreeFam useful, please consider 
      		<a href="/help?tab=helpReferencesBlock">citing</a> the references 
      		that describe this work:<br>
      <span class="title">
        <a class="ext" 
           href="http://europepmc.org/abstract/MED/18056084">
          TreeFam: 2008 Update</a>
      </span>
      <span class="authors">
        Jue Ruan, Heng Li, et al.
      </span>
      <span class="ref">
        <span class="jrnl">Nucleic Acids Research</span>&nbsp;(2008) 
        <br>doi: 10.1093/nar/gkm1005
       </span>
    	</p>
</div>
<div id="container" style="margin-left:5%; text-align: justify;">  
		        <h3><img src="/static/images/landing_page/publication.png" width="20" height="20" alt="citing_treefam"> Citing TreeFam</h3>  
    	<p>
      		If you find TreeFam useful, please consider 
      		<a href="/help?tab=helpReferencesBlock">citing</a> the references 
      		that describe this work:<br>
      <span class="title">
        <a class="ext" 
           href="http://europepmc.org/abstract/MED/18056084">
          TreeFam: 2008 Update</a>
      </span>
      <span class="authors">
        Jue Ruan, Heng Li, et al.
      </span>
      <span class="ref">
        <span class="jrnl">Nucleic Acids Research</span>&nbsp;(2008) 
        <br>doi: 10.1093/nar/gkm1005
       </span>
    	</p>
</div>

	</div>
</div>
</div>
    </div>	    	
	<div class="cleaner"><!-- empty --></div>
	    </div><!-- wrap close -->
    </div><!-- fancy close -->  
   </div> 
<script type="text/javascript">
var exSeq = ">sp|P02008|HBAZ_HUMAN Hemoglobin subunit zeta OS=Homo sapiens GN=HBZ PE=1 SV=2";
exSeq += "MSLTKTERTIIVSMWAKISTQADTIGTETLERLFLSHPQTKTYFPHFDLHPGSAQLRAHG";
exSeq += "SKVVAAVGDAVKSIDDIGGALSKLSELHAYILRVDPVNFKLLSHCLLVTLAARFPADFTA";
exSeq += "EAHAAWDKFLSVVSSVLTEKYR";
var SEARCH_TREEFAM = "Search TreeFam...";
	jQuery("#tree_insertion_parsimony").prop('checked', true);
	jQuery("#tree_insertion").click(function () {
            jQuery("#show_tree_options").toggle();
        });

jQuery('textarea')
  .focus(function() {
        if (this.value === this.defaultValue) {
            this.value = '';
        }
  })
  .blur(function() {
        if (this.value === '') {
            this.value = this.defaultValue;
        }
});


    function displaySearchTreeFam(queryEl) {
        if (queryEl == null) {
            return;
        }
        if (queryEl.value == null || queryEl.value.trim() == "") {
            queryEl.value = SEARCH_TREEFAM;
        }
    }

    function hideSearchTreeFam(queryEl) {
        if (queryEl == null || queryEl.value == null) {
            return;
        }
        if (queryEl.value.trim() == SEARCH_TREEFAM) {
            queryEl.value = "";
        }
    }


  // load the latest blog posts
jQuery(document).ready(function(){    
        jQuery("#tree_insertion").attr('checked', 'checked');
	displaySearchTreeFam(document.getElementById('local-searchbox'));
	jQuery(".fancybox").fancybox();
	jQuery(".various").fancybox({
		'minWidth' : 800,
		'minHeight' : 800,
	});
	//jQuery(".lightbox").fancybox({
	//	'speedIn'		:	600, 
	//	'speedOut'		:	200
	//});
var randomtrees = {
	
	"trees": [
        {"name": "CCNB", "id": "TF101001", "annotation":"Cyclin B"},
        {"name": "UBE2E", "id": "TF101117", "annotation": "Ubiquitin-conjugating enzyme E2 E"},
        {"name": "BRCA2", "id": "TF105041", "annotation": "breast cancer 2, early onset"},
        {"name": "HSPA5", "id": "TF105044", "annotation": "heat shock 70kDa protein 5"},
        {"name": "POLR1D", "id": "TF103035", "annotation": "polymerase (DNA directed), delta 1, catalytic subunit"},
        {"name": "", "id": "", "annotation": ""},
        {"name": "", "id": "", "annotation": ""},
        {"name": "", "id": "", "annotation": ""},
    ]
};
var randomnumber=Math.floor(Math.random()*4);
console.log("taking number "+randomnumber);
 	var chosen_tree = randomtrees.trees[randomnumber].id;	
        var chosen_gene = randomtrees.trees[randomnumber].name;	
        var chosen_annotation = randomtrees.trees[randomnumber].annotation;	

	var minimal_species_tree_json = "/static/trees/front_page_tree.json";
	console.log("chosen tree is "+chosen_tree);
	//var minimal_species_tree_json = "/family/"+chosen_tree+"/tree/minimal_species_json";
				//var json_tree = "/static/trees/gene_tree.json";
			console.log("drawing minimal_species_tree with "+minimal_species_tree_json);	
			var show_pie_charts = 0;
			draw_minimal_species_tree({ json_tree : minimal_species_tree_json, show_pie_charts : show_pie_charts });	
	//jQuery("#randomtreetext").html("<font size='2'>Species tree with the major taxonomic groups containing the <b><a href='/family/"+chosen_tree+"'>"+chosen_gene+"</a></b> gene ("+chosen_annotation+").</font><br><font size='1'>Click <a href='/family/"+chosen_tree+"'>here</a> to go to the family page of "+chosen_gene+" or <a href='/browse#tabview=tab2'>here</a> to view the full species Tree</font>");
if( jQuery(".slider").length ){
		
		// Init the slider
		var slider = jQuery(".slider"),
			slideWidth = slider.find("li").eq(0).width(),
			num = slider.find("li").length,
			sliderController = jQuery(".sliderController");

		slider.width( num * slideWidth );
		
		// center the arrows and add click event
		jQuery(".arrow").height(
			slider.height()
		).click( function(){
			slideTo( jQuery(this).attr("rel") );
			return false;
		} );
		
		// build the controller
		for( i=0; i<num; i++ ){
			var li = jQuery('<li><a href="#"></a></li>');
			li.click(function(){
				slideTo( jQuery(this).index() );
				return false;
			}).appendTo(sliderController);
		}
		
		// Set width to the controller to center it
		sliderController.width(
			num * 25
		).find("li").eq(0).addClass("current");
		
		// Do slide
		function slideTo( next ){
			var current = sliderController.find(".current"),
				currentIndex = current.index();
				
			if( next == "right" ) { 
				next = currentIndex + 1;
				if( next == num ) { next = 0; }
			}
			if( next == "left" ) {
				next = currentIndex - 1; 
				if( next < 0 ) { next = num-1; }
			}
			
			if( (next < num) && !(next < 0) ) {
			
				slider.animate({
					left: - ( next * slideWidth )
				});
				
				current.removeClass("current");
				sliderController.find("li").eq(next).addClass("current");
				
			}	
		}
	
	}


	console.log("dom loaded")
  } );

  // ]]>
</script>

<!-- end of index page -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
