[%
# lookup.tt
# jt6 20081205 WTSI
#
# show the Rfam hits on a specific EMBL sequence
#
# $Id: lookup.tt,v 1.2 2009-01-06 11:56:03 jt6 Exp $

META title    = "Sequence search results";
META fullPage = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

PROCESS "components/require.tt";

#requirements.css.push( "search.css" );

requirements.css.push( "buttons.css" );
requirements.js.push( "biojs/Biojs.js" );
requirements.js.push( "biojs/Biojs.Sequence.js" );
requirements.js.push( "jquery/jquery-1.4.2.min.js" );
requirements.css.push( "TreeFamily.css" );
#requirements.js.push( "jquery/jquery-ui-1.8.2.custom.min.js" );
#requirements.css.push( "search.css" );
# required for the post-loaded table
#sharedRequirements.js.push( "tablekit.js" );

#-------------------------------------------------------------------------------

USE String;

# store the first row of the results, since we use itin various places as the 
# source of information about this particular rfamseq row 
firstRow = results.first;

oe = 0;
%]
<!-- start of "results" -->

<div class="key" id="sequenceHitsKey">

  <h2>TreeFam hits on sequence [% entry %] (TreeFam ID: [% treefam_id %])</h2>

  <p>
    There [% results.size > 1 ? "are" : "is" %] <strong>[% results.size %]</strong> 
    TreeFam hit[% results.size > 1 ? "s" : "" %] on the EMBL sequence 
    <strong><a href="http://www.ebi.ac.uk/ena/data/view/[% entry %]"
      class="ext">[% entry %]</a></strong>.
  </p>
    <div id="SequenceDiv" />
    <div id="Sequence_cdsDiv" />
</div>
</div>
<!-- end of "results" -->

<script type="text/javascript">
    window.onload = function() {
     
    var theSequence = "[% sequence %]";
    var theSequence_cds = "[% sequence_cds %]";
    var mySequence = new Biojs.Sequence({sequence : theSequence, target : "SequenceDiv", format : 'FASTA', id : "[% treefam_id %]",});
    var mySequence_cds = new Biojs.Sequence({sequence : theSequence_cds, target : "Sequence_cdsDiv", format : 'FASTA', id : "[% treefam_id %]",});
    
    };


</script>
[% IF no_xrefs_hits == 0 %]
	[% ELSE %]
    	<div id="Summ_left" class="Summ_column" style="max-width: 1500em">
                <div id="families_table" class="Summ_box" style="display:table;">
        <h2>Xref hits</h2>
        <div  id="xref_table"></div>
			   			    <script type="text/javascript" language="javascript" src="[% c.uri_for( "/static/javascripts/jquery/jquery.js" ) %]"></script>
			    <script type="text/javascript" language="javascript" src="[% c.uri_for( "/static/javascripts/jquery/jquery.dataTables.js" ) %]"></script>
			    <script type="text/javascript" charset="utf-8">
					    $.noConflict();
	    /* Data set - can contain whatever information you want */
					    var xDataSet = [% xrefs_array_json %]; 
                        jQuery(document).ready(function() {           
					    jQuery('#xref_table').html( '<table align="left" cellpadding="0" cellspacing="0"  class="display" id="xref_data"></table>' );
					    var sTable = jQuery('#xref_data').dataTable( {
						    //"bJQueryUI": true,
						    "aaData": xDataSet,
						    "sPaginationType": "full_numbers",
						    "aoColumnDefs": [
						        {
   						                "fnRender": function ( o, val ) {
							                            return '<a href=[% c.uri_for( "/sequence/") %]' + o.aData[0] + '>' + o.aData[0] + '</a>';
									                },
							            "aTargets": [ 0 ]
							        },
   						            {
                                        "fnRender": function ( o, val ) {
							                            return '<a href=[% c.uri_for( "/family/") %]' + o.aData[3] + '>' + o.aData[3] + '</a>';
									                },
							            "aTargets": [ 3 ]
                                    },                                                        
                                    {
                                        "fnRender": function ( o, val ) {
						        var species_file = o.aData[1];
                                                        var file_name = species_file.replace(/ /,"_");  
                                                        console.log(file_name); 
                                                        var image_file = '<img src="/static/images/species_pictures/species_files/thumb_' + file_name + '.png"  > ' + o.aData[1] + '</a>'; 
                                                        console.log(image_file); 
                                                        return image_file; 
									                },
							            "aTargets": [ 1 ]
                                    }
						    ],
						    "aoColumns": [
							    { "sTitle": "Source DB" },
							    { "sTitle": "Species" },
							    { "sTitle": "DB ID" },
							    { "sTitle": "TreeFam family" },
							    { "sTitle": "Description" },
						    ],
						    "aaSorting": [[0,'asc']],
					    } );
					    //new FixedHeader( oTable, { "bottom": true } );	
			    } );
			    </script>  
    </div>	
</div> <!-- end sequences results --> 		
[% END %]
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
