[%
# lookup.tt
# jt6 20081205 WTSI
#
# show the Rfam hits on a specific EMBL sequence
#
# $Id: lookup.tt,v 1.2 2009-01-06 11:56:03 jt6 Exp $

META title    = "TreeFam Tree";
META fullPage = 1;
META naked = 1;

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

#PROCESS "components/require.tt";
#requirements.js.push( "jquery/jquery-1.8.2.min.js" );
#requirements.css.push( "phylowidget/treefam.css" );
#requirements.js.push( "phylowidget/new_code/gene_tree.js" );
#requirements.js.push( "phylowidget/new_code/tree_functions.js" );
#requirements.js.push( "d3/d3.v3.min.js" );
#requirements.js.push( "d3/d3.layout.js" );

# required for the post-loaded table
#sharedRequirements.js.push( "tablekit.js" );
# the base URL for static content
 staticUri = c.uri_for( "/static" );
 sharedUri = c.uri_for( "/shared" );
#-------------------------------------------------------------------------------
%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

  <head>
    <title>TreeFam: Tree</title>
    <link rel="stylesheet" type="text/css" href="[% staticUri %]/css/Biojs.Tree.css" /> 
    <script type="text/javascript" src="[% staticUri %]/javascripts/jquery/jquery-1.8.2.min.js" ></script> 

<!-- Tree functions -->
    <script type="text/javascript" src="[% staticUri %]/javascripts/biojs/Biojs.js" ></script> 
    <script type="text/javascript" src="[% staticUri %]/javascripts/biojs/Biojs.Tree.js" ></script> 
    <script type="text/javascript" src="[% staticUri %]/javascripts/biojs/tree_functions.js" ></script> 
   
<!-- Tipsy functions -->
    <script type="text/javascript" src="[% staticUri %]/javascripts/jquery/jquery.tipsy.js" ></script> 
    <link rel="stylesheet" type="text/css" href="[% staticUri %]/css/jquery/tipsy.css" /> 
 
    <!-- <script type="text/javascript" src="[% staticUri %]/javascripts/phylowidget/new_code/gene_tree.js" ></script> 
    <script type="text/javascript" src="[% staticUri %]/javascripts/phylowidget/new_code/tree_functions.js" ></script>  -->

    <script type="text/javascript" src="[% staticUri %]/javascripts/d3/d3.v3.js" ></script> 
    <script type="text/javascript" src="[% staticUri %]/javascripts/d3/d3.layout.js" ></script> 
 </head>
  <body>
[% IF errorMsg  -%]
	[% errorMsg %]
[% ELSE -%]

<div class="tv_contentcontainer" id="tv_contentcontainer">
			<div class="tv_breadcrumbs">
				<a class="settings-button pressed" id="button-right" name="button-right"></a> 
				<!--<a href="http://www.treefam.org"><img src="http://www.treefam.org/static/images/treefam_logo.png" alt="" width="" height="35" class="logo" /></a> -->
				TreeFam gene tree for family <a id="treefam_family" href="" name="treefam_family"></a><div id="family_description" style="display: inline"></div><br />
				<ul id="toggle-view">

					<li id="li_head">
						<h3 id="cite_li">
							How to cite this tree
						</h3><span >+</span>
						<div id="cite_panel" class="panel"></div>
					</li>
					<li id="li_head">
						<h3 id="settings_li">
							Control elements
						</h3><span >+</span>
						<div id="settings_panel" style="padding-left: 10px;" class="panel">
							<div class="settings">
							<div class="left">
								<label for="tree_type" class="fixedwidth">Tree type</label>
								<img id="tree_type_tooltip" title="Click for information about this field" src="http://cc.skoda-auto.com/che/style/ltr/nci_default/icon_info.png" style="vertical-align: bottom;" alt="info" width="10">
								<ul>
									<li>
										<input type="radio" class="radioinput" name="tree_type" id="model_tree" value="model_tree" checked="checked"> 
										<label for="model_tree" class="radiolabel">Model</label>
									</li>
									<li>
										<input type="radio" class="radioinput" name="tree_type" id="wormbase_tree" value="wormbase_tree"> 
										<label for="wormbase_tree" class="radiolabel">Wormbase</label>
									</li>
									<li>
										<input type="radio" class="radioinput" name="tree_type" id="full_tree" value="full_tree"> 
										<label for="full_tree" class="radiolabel">Full</label>
									</li>
								</ul>
							</div>
							<div class="middle">
								<label for="branch_length" class="fixedwidth">Branch length</label>
								<img id="branch_length_tooltip" title="Click for information about this field" src="http://cc.skoda-auto.com/che/style/ltr/nci_default/icon_info.png" style="vertical-align: bottom;" alt="info" width="10">
								<ul>
									<li>
										<input type="radio" class="ultra_branch_length" name="br_length" id="branch_length" value="real_branch" checked="checked"> <label for="tran_code_22" class="branch_length">Cladogram</label>
									</li>
									<li>
										<input type="radio" class="real_branch_length" name="br_length" id="branch_length" value="real_branch"> <label for="tran_code_21" class="branch_length">Real</label>
									</li>
								</ul>
							</div>
							<div class="right">
								<label for="leaf_annotation" class="fixedwidth">Leaf labels</label>
								<img id="labels_tooltip" title="Click for information about this field" src="http://cc.skoda-auto.com/che/style/ltr/nci_default/icon_info.png" style="vertical-align: bottom;" alt="info" width="10">
								<ul>
									<li>
										<input type="radio" class="show_leaf_common_name" name="leaf_annot" id="show_leaf_common_name" value="leaf_annotation" checked="checked"> <label for="gene_label" class="leaf_annotation">Gene name</label>
									</li>
									<li>
										<input type="radio" class="show_leaf_uniprot" name="leaf_annot" id="uniprot" value="leaf_annotation"> <label for="uniprot" class="leaf_annotation">UniProt</label>
									</li>
								</ul>
							</div>
							<div class="right3">
								<label for="inner_nodes" class="fixedwidth">Internal labels</label>
								<img id="inner_nodes_tooltip" title="Click for information about this field" src="http://cc.skoda-auto.com/che/style/ltr/nci_default/icon_info.png" style="vertical-align: bottom;" alt="info" width="10">
								<ul>
									<li>
										<input type="checkbox" class="bootstrap_check" name="bootstrap" id="bootstrap_check" value="leaf_annotation" > <label for="gene_label" class="leaf_annotation">Bootstrap</label>
									</li>
									<li>
										<input type="checkbox" class="int_names" name="taxa_level" id="taxa_level" value="leaf_annotation"> <label for="uniprot" class="leaf_annotation">Taxonomy</label>
									</li>
								</ul>
							</div>
	
							<div class="right2">
								<label for="tran_code" class="fixedwidth">Mouse Zooming</label>
								<img id="zooming_tooltip" title="Click for information about this field" src="http://cc.skoda-auto.com/che/style/ltr/nci_default/icon_info.png" style="vertical-align: bottom;" alt="info" width="10">
								<ul>
									<li>
										<input type="radio" class="zoom_on" name="tran_code" id="zoom_on" value="zoom_on"> <label for="zoom_on" class="radiolabel">On</label>
									</li>
									<li>
										<input type="radio" class="zoom_off" name="tran_code" id="zoom_off" value="zoom_off" checked="checked"> <label for="zoom_off" class="radiolabel">Off</label>
									</li>
									<!--<li>
										<input type="radio" class="zoom_reset" name="tran_code" id="zoom_off" value="zoom_off" > <label for="zoom_off" class="radiolabel">Reset</label>
									</li>-->

								</ul>
							</div>
	
						</div>
					</li>
				</ul>
				<div class="tv_homecontent">
					    <div class="tree_container" id="tree"></div>
				</div>
				<div class="clearfloat"></div>
	
			</div>
		</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
				var family ="[% acc %]";
				console.log("setting up for "+family);
				// set treefam family in header
				jQuery("#treefam_family").text(family);
				jQuery("#treefam_family").attr("href", "[% c.uri_for( "/family",acc) %]");
				var treefam_family = "[% treefam_acc %]";
				var treefam_family_genes = "[% numSequences %]";
				var treefam_family_species = "[% numSpecies %]";
				var treefam_family_alignment_conservation = "[% percentIdentity %]";
				var treefam_family_alignment_length = "[% aln_length %]";
				var treefam_description = "[% description %]";
				var treefam_symbol = "[% symbol %]";
				jQuery("#cite_panel").html(
				'The TreeFam family '+treefam_symbol+' ('+treefam_description+','+treefam_family+') has '+treefam_family_genes+' from '+treefam_family_species+' species. '+
				'The sequences were aligned using MCoffee. The final alignment was '+treefam_family_alignment_length+' AA long '+
				'and on average '+treefam_family_alignment_conservation+'% conserved. '+
				'TreeBest (1) was used to build a tree and reconcile it with the species tree. '+ 
				'TreeBest build 5 source trees using nj and Phyml (2). and merges them into one tree trying to minimize the number of duplications using a species tree from '+
				'<p id="footnote-1">(1) Ruan,J., Li,H., Chen,Z., Coghlan,A., Coin,L.J.M., Guo,Y., H&eacute;rich&eacute;,J.-K., Hu,Y., Kristiansen,K., Li,R., et al. (2008) TreeFam: 2008 Update. Nucleic Acids Res, 36, D735-40.</p> '+
			    '<p id="footnote-2">(2) Guindon,S., Dufayard,J.-F., Lefort,V., Anisimova,M., Hordijk,W. and Gascuel,O. (2010) New algorithms and methods to estimate maximum-likelihood phylogenies: assessing the performance of PhyML 3.0. Syst Biol, 59, 307-321.</p> ');
				if(treefam_symbol == "NaN"){treefam_symbol = "N/A"}
				if(treefam_description == "NaN"){treefam_description = "N/A"}
				jQuery("#family_description").html(' ('+treefam_symbol+', '+treefam_description+')');	

jQuery("#tree_type_tooltip").tipsy({ 
				gravity: 'nw', 
				html: true, 
				title: function() {
					var text_string  = "Beside the <b>Full</b> gene tree for all species, TreeFam provides pruned-down versions focussing on <b>Model</b> organims ";
					text_string  += "and model organisms + nematode species in <b>Wormbase</b>.";
				  return text_string; 
				}
			});
			jQuery("#branch_length_tooltip").tipsy({ 
					gravity: 'nw', 
					html: true, 
					title: function() {
						var text_string  = "Switch between an cladogram and a phylogenetic tree.<br>"
						text_string += "The cladogram shows the relationships between genes, but does not show real branch length.";
					  return text_string; 
					}
				});
			jQuery("#labels_tooltip").tipsy({ 
					gravity: 'nw', 
					html: true, 
					title: function() {
						var text_string  = "Toggle between gene names and UniProt IDs";
					  return text_string; 
					}
				});
			jQuery("#inner_nodes_tooltip").tipsy({ 
					gravity: 'nw', 
					html: true, 
					title: function() {
						var text_string  = "Click <i>Bootstrap</i> to see support values for inner nodes.<br>";
						text_string += "<b>Taxonomy</b> displays internal taxonomic group names";
					  return text_string; 
					}
				});
			jQuery("#zooming_tooltip").tipsy({ 
					gravity: 'nw', 
					html: true, 
					title: function() {
						var text_string  = "activate the zoom to use the mouse-wheel on the tree to zoom in.";
					  return text_string; 
					}
				});
		
		
		
		jQuery("#settings_panel").show();
		        //$(".show_hide").show();

		 jQuery('#cite_li').click(function(){
		    jQuery("#cite_panel").slideToggle();
		    });
		 jQuery('#settings_li').click(function(){
		    jQuery("#settings_panel").slideToggle();
		    });
		
		/* jQuery('#toggle-view span').click(function () {
				var text = jQuery(this).children('div.panel');

				if (text.is(':hidden')) {
					text.slideDown('200');
					jQuery(this).children('span').html('-');     
				} else {
					text.slideUp('200');
					jQuery(this).children('span').html('+');     
				}

			}); */
			
			
			jQuery('.show_leaf_common_name').click(function(){
			if (jQuery(this).is(':checked')){
				      myTree.show_gene_annotation();
				}});
			jQuery('.show_leaf_uniprot').click(function(){
			if (jQuery(this).is(':checked')){
				      myTree.show_uniprot_annotation();
				}});
			
			
			jQuery( ".ultra_branch_length" ).click(function() {
				console.log("toggle branch length");
				 myTree.toggle_branchlength();
			});
			jQuery( ".real_branch_length" ).click(function() {
				console.log("toggle toggle_leaf_annotation");
				 myTree.toggle_branchlength();
			});
			
			
			// bootstrap
			jQuery('#bootstrap_check').click(function() {
			        if(jQuery(this).is(":checked")) {myTree.show_bootstrap();}
					else{myTree.hide_bootstrap();}
			});
			jQuery('#taxa_level').click(function() {
			        if(jQuery(this).is(":checked")) {myTree.show_taxlevel();}
					else{myTree.hide_taxlevel();}
			    });
			
			// zoom
			jQuery('.zoom_on').click(function(){
				console.log("adding zoom");
				if (jQuery(this).is(':checked')){
				      myTree.addZoom();
				}});
			jQuery('.zoom_off').click(function(){
				console.log("adding zoom");
				if (jQuery(this).is(':checked')){
					      myTree.removeZoom();
					}});
			jQuery('.zoom_reset').click(function(){
					console.log("adding zoom");
						if (jQuery(this).is(':checked')){
							     myTree.resetZoom();
			}});

				var json_tree = "[% c.uri_for( "/family",acc, "tree/json") %]";
				var model_json_tree = "[% c.uri_for( "/family",acc, "tree/model_json") %]";
                        	var full_json_tree = "[% c.uri_for( "/family",acc, "tree/json") %]";
                        	var wormbase_json_tree = "[% c.uri_for( "/family",acc, "tree/wormbase_json") %]";
				//var json_tree = "/static/trees/gene_tree.json";
				//var no_genes = "[% numSequences %]" * 2;
				var alignment_length = "[% summaryData.aln_length %]";
				var image_path = "/static/images/species_pictures/species_files";
				var newick_tree = "";
				//console.log("call with "+json_tree+" and "+no_genes+ " and path: "+image_path);
				//draw_d3_tree(no_genes, alignment_length,json_tree, image_path);
				var highlight_gene = "";
				var load_from_variable = "1";
				var json_tree_string = "";


			var show_controls = 1;
			var newick_tree = "";
			var load_from_variable = 0;
			var load_from_web = 0;	
			myTree = new Biojs.Tree({
			        target : "tree",
			        tv_contentcontainer : "tv_contentcontainer",
			        format : 'CODATA',
					load_from_web : load_from_web,
					formatOptions : {
			 			title:false,
						footer:false,
						tree:'json',
			  		},
			        id : 'P918283',
					// tree parameters
					//no_genes : no_genes, 
				    //alignment_length : alignment_length, 
				    json_tree : model_json_tree, 
				    image_path : image_path,
				    newick_tree : newick_tree,
				    highlight_gene : highlight_gene,
				    json_tree_string : json_tree_string,
				    load_from_variable : load_from_variable,
					show_controls : show_controls,
					modelTreeOn : ""
			});
			
			
			$("#full_tree").click(function() {
				myTree.clear_divs();
				
				//myTree.showFullTree();
				myTree = new Biojs.Tree({
				        target : "tree",
				        tv_contentcontainer : "tv_contentcontainer",
				        format : 'CODATA',
						formatOptions : {
				 			title:false,
							footer:false,
							tree:'json',
				  		},
				        id : 'P918283',
						// tree parameters
					    json_tree : full_json_tree, 
					    image_path : image_path,
					    newick_tree : newick_tree,
					    highlight_gene : highlight_gene,
					    json_tree_string : json_tree_string,
					    load_from_variable : load_from_variable,
						show_controls : show_controls,
						modelTreeOn : ""
				}); 

			});
			$("#model_tree").click(function() {
				myTree.clear_divs();
				
				//myTree.showModelTree();
				myTree = new Biojs.Tree({
				        target : "tree",
				        tv_contentcontainer : "tv_contentcontainer",
				        format : 'CODATA',
						formatOptions : {
				 			title:false,
							footer:false,
							tree:'json',
				  		},
				        id : 'P918283',
						// tree parameters
					    json_tree : model_json_tree, 
					    image_path : image_path,
					    newick_tree : newick_tree,
					    highlight_gene : highlight_gene,
					    json_tree_string : json_tree_string,
					    load_from_variable : load_from_variable,
						show_controls : show_controls,
						modelTreeOn : ""
				}); 
			});
			$("#wormbase_tree").click(function() {
				myTree.clear_divs();
				
				//myTree.showModelTree();
				myTree = new Biojs.Tree({
				        target : "tree",
				        tv_contentcontainer : "tv_contentcontainer",
				        format : 'CODATA',
						formatOptions : {
				 			title:false,
							footer:false,
							tree:'json',
				  		},
				        id : 'P918283',
						// tree parameters
					    json_tree : wormbase_json_tree, 
					    image_path : image_path,
					    newick_tree : newick_tree,
					    highlight_gene : highlight_gene,
					    json_tree_string : json_tree_string,
					    load_from_variable : load_from_variable,
						show_controls : show_controls,
						modelTreeOn : ""
				}); 
			});


			/*	console.log("we are here");
				var gT = geneTree();
				console.log("we are still here");
				
				gT({no_genes : no_genes, 
					  alignment_length: alignment_length, 
							  json_tree: json_tree, 
							  image_path: image_path,
							  newick_tree : newick_tree,
							  highlight_gene : highlight_gene,
							  json_tree_string : json_tree_string,
							  load_from_variable : load_from_variable
							});
			     */		
		});  
</script>

[% END -%]
</body>

</html>

[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
