[%
# summary.tt
# jt6 20060406 WTSI
# 
# build the summary block for families
#
# $Id: summary.tt,v 1.11 2009-10-08 16:01:48 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 

#-------------------------------------------------------------------------------
-%]
<!-- start summary block -->
<div class="block" id="familySummaryBlock">
  <div class="handle">
    <h1>Downloads</h1>
  </div>
  <div class="blockContent">
		<div id="three" class="Summ_box" style="display:table;">
               <table align="left">
		<tr><td align="left" ><b>Alignment: </b></td><td align="left"><a href="[% c.uri_for( "/family",acc, "alignment") %]">Fasta</a>, <a href="[% c.uri_for( "/family",acc, "hmm") %]">HMM</a></td></tr>
		<tr><td align="left" ><b>Tree: </b></td><td align="left"><a href="[% c.uri_for( "/family",acc, "tree/newick") %]">Newick</a></td></tr>
		<!-- <tr><td align="left" ><b>Homologs: </b></td><td align="left"><a href="[% c.uri_for( "/family",acc, "orthologs/table") %]">Table</a>, <a href="[% c.uri_for( "/family",acc, "orthologs/orthoxml") %]">OrthoXML</a></td></tr> -->
	       </table>
       </div>
     </div>
      
</div>

<!-- end summary block -->
[%#
Copyleft (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
