[%
# sequences.tt
# jt6 20081208 WTSI
#
# the sequences tab for the family section
#
# $Id: sequences.tt,v 1.3 2009-10-08 16:01:48 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 


#-------------------------------------------------------------------------------

#USE String;
%]

<!-- start sequences block -->

<div class="block" id="sequencesBlock">
  <div class="handle">
    <h1>Family members</h1>
  </div>
  <div class="blockContent">

    <p>
      This family has <strong>[% treefam.num_full %]</strong> family members. Download as <a href="[% c.uri_for( acc, "alignment") %]">Fasta</a>.
    </p>
	<div class="keyTable" id="sequences_table"></div>
       
    <script type="text/javascript" charset="utf-8">
            jQuery.noConflict();
    /* Data set - can contain whatever information you want */
            var aDataSet =[% sequence_array_json %];
                jQuery(document).ready(function() {           
                jQuery('#sequences_table').html( '<table cellpadding="0" cellspacing="0" border="5" class="display" id="sequences_data"></table>' );
                jQuery('#sequences_data').dataTable( {
                    "aaData": aDataSet,
	            "aLengthMenu": [[10, 50, 100, -1], [10, 50, 100, "All"]],
        	     "aoColumns": [
                        { "sTitle": "Taxon" },
                        { "sTitle": "Display_label" },
                        { "sTitle": "HMM e-value" },
                        { "sTitle": "Pfam matches" },
                        { "sTitle": "Description" },
                    ]
                } );    
            } );
        </script>
</div>
</div>
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
