[%
# phylo.tt
# jt6 20060515 WTSI
#
# block showing the phylogenetic tree for a family
#
# $Id: phylo.tt,v 1.7 2008-07-25 13:30:45 jt6 Exp $

#-------------------------------------------------------------------------------
# specify required stylesheets and javascript files 
alignmentUri = c.uri_for( '/family', acc, 'alignment' );



%]
<div class="block" id="treeBlock">
  <div class="handle">
    <h1>Gene Tree</h1>
  </div>
  <div class="blockContent">
	<div id="treefam_tree"></div>
<script type="text/javascript">
		jQuery(document).ready(function() {

				 var gB = tnt.tree_annot();
        			var gBTheme = treefam_theme();
				var tree_url = "[% c.uri_for( "/family",acc, "tree/json") %]";
        			var ensembl_species_url = '/static/trees/e75.json';
        			gBTheme (gB, document.getElementById("treefam_tree"), tree_url, ensembl_species_url);
				console.log("setting tree url: "+tree_url+"");
});
</script>
[%
#requirements.js.push( "biojs/treefam_functionality.js" );
%]
</div> <!-- treeblock -->
</div> <!-- treeblock -->

<!-- end of phyloBlock -->
[%#
Copyright (c) 2007: Genome Research Ltd.

Authors: John Tate (jt6@sanger.ac.uk), Paul Gardner (pg5@sanger.ac.uk), 
         Jennifer Daub (jd7@sanger.ac.uk)

This is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <http://www.gnu.org/licenses/>.
-%]
